fastapi
uvicorn
pydantic
sqlalchemy
psycopg2
databases
asyncpg
passlib[bcrypt]
python-dotenv
fastapi-login
pyjwt
pytest
pytest-cov==4.1.0
pytest-mock
pytest-asyncio
langchain_openai
langchain
langchain_core
langchain-community